<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <h1 style="text-align:center;">New Client</h1>

      <%= render 'form' %>

      <p style="text-align:center;"><%= link_to 'Back', clients_path, style: 'color:red;' %></p>
    </div>
  </div>
</div>
