<header class="header-8 navbar-fixed-top navbar" id="navbkg" style="display:block;">
  <%= link_to image_tag('logo-sm.png'), root_path, id: 'logotop' %>
</header>
<div class="delimiter2"></div>
<section class="thanks">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>WE HAVE RECEIVED YOUR MESSAGE</h2>
        <p>A REPRESENTATIVE WILL CONTACT YOU SHORTLY</p>
      </div>
    </div>
  </div>
</section>
