<section class="header-16-sub-contact">
  <div id="h-16-pt-main" class="page-transitions pt-perspective">
    <div class="v-center pt-page pt-page-1 pt-page-current">
      <div>
        <div class="background" id="header-main">&nbsp;</div>
        <div class="container">
          <div class="hero-unit" id="center-main">
            <h2>GET IN TOUCH</h2>
            <h1>CONTACT</h1>
          </div>
        </div>
      </div>
      <span class="scroll-btn"><a href="#next"> <span class="mouse"><span> </span></span></a></span>
    </div>
  </div>
</section>

<section class="contact-form" id="next">
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>CONTACT PARADIGM SM</h1>
      <p>Please fill out the form below and we will contact you when we receive your message. Thank you for visiting Paradigm Sports Management. We hope to speak with you soon.</p>
    </div>
  </div>
  <div class="delimiter2"></div>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <%= render 'form' %>
    </div>
  </div>
</div>
</section>
