html, body{
  background: black;
}

footer {
  padding: 0px;
}
p {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #838383;
}
h2{
  margin: 0;
}
h4 {
  color: #000000;
  font-weight: 500;
}

// Navbar
#logotop{
  position: fixed;
  left: 20px;
  top: 10px;
  @media (min-width: 768px) and (max-width: 991px) {
    width: 150px;
    top: 18px;
  }
  @media (max-width: 767px) {
    width: 150px;
    top: 18px;
  }
}
.delimiter2{
  margin-top: 100px;
}
// Buttons
.btn-inverse-home {
  @extend .btn-inverse;
  margin: 0 auto;
  display: block;
  background: transparent;
  border: #838383 3px solid;
  border-radius: 0px;
  color: #838383 !important;
  width: 200px;
  &:hover {
    background: black;
    border: #000000 3px solid;
    color: #ffffff !important;
  }
}

.btn-inverse-service {
  @extend .btn-inverse;
  background: transparent;
  border: white 3px solid;
  color: white !important;
  border-radius: 0px;
  width: 200px;
  &:hover {
    background: white;
    border: white 3px solid;
    color: #000000 !important;
  }
}

.hoverimg {
  position: relative;
}

.client-name {
    position: absolute;
    width: 100%;
    height: 100%;
    padding-top: 45%;
    z-index: 3;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
  &:hover {
    color: #ffffff;
    display: block;
    position: absolute;
    z-index: 3;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    height: 100%;
    margin: 0;
    padding-top: 45%;
    opacity: 1;
    transition: all 0.2s;
  }
}


// Overlay when menu is clicked
.menu-overlay{
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0,0,0,.6);
  z-index: 100;
  display:none;
}
// Home Page

.header-16-sub-home {
  @extend .header-16-sub;
  .background {
    background-image:url(image-path("home-main.jpg"));
    opacity: 1;
    background-attachment: fixed;
  }
  @media (min-width: 768px) and (max-width: 991px) {
    height: 100vh;
  }
  @media (max-width: 767px) {
    height: 100vh;
  }
}

.content-32-home {
  @extend .content-32;
  padding: 150px 0 180px 0;
  background: #ffffff;
  h1 {
    text-align: center;
    font-weight: 700;
    color: #000000;
  }
  p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #838383;
    padding: 30px 0px 40px 0px;
    text-align: left;
  }
  @media (min-width: 768px) and (max-width: 991px) {
    h1{
      font-size: 40px;
    }
  }
  @media (max-width: 767px) {
    h1 {
      font-size: 40px;
    }
  }
}

.content-23-home {
  @extend .content-23;
  padding: 150px 0px 200px 0px;
  a {
    color:#ffffff;
  }
  h1 {
    font-weight: 700;
    color: #ffffff;
  }
  p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #ffffff;
    padding: 20px 0px;
  }
  .background {
    background-image:url(image-path("services-home.jpg"));
    opacity: 1;
    background-attachment: fixed;
  }
  @media (min-width: 768px) and (max-width: 991px) {
    .background {
      background-attachment: initial;
    }
    h1 {
      font-size: 35px;
    }
    .pull-right {
      float: none !important;
    }
  }
  @media (max-width: 767px) {
    .background {
      background-attachment: initial;
    }
    .pull-right {
      float: none !important;
    }
    h1 {
      font-size: 35px;
    }
  }
}

.content-23-home-2 {
  @extend .content-23;
  .background {
    background-image:url(image-path("blog-home.jpg"));
    opacity: 1;
    background-attachment: fixed;
  }
  h1{
    font-weight: 700;
    color: #ffffff;
  }
  @media (min-width: 768px) and (max-width: 991px) {
    .background {
      background-attachment: initial;
    }
  }
  @media (max-width: 767px) {
    .background {
      background-attachment: initial;
    }
  }
}

// About page
.header-16-sub-about {
  @extend .header-16-sub-home;
  .background {
    background-image:url(image-path("about-main.jpg"));
    opacity: 1;
    background-attachment: fixed;
  }
  h2 {
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    margin-bottom: 30px;
    letter-spacing: 3px;
    font-size: 25px;
    border: none;
  }
  h1 {
    border: none !important;
    font-size: 90px !important;
  }
  @media (min-width: 768px) and (max-width: 991px) {
    h1 {
      font-size: 40px !important;
      padding: 0px !important;
    }
    h2 {
      margin-bottom: 10px;
      font-size: 20px;
    }
  }
  @media (max-width: 767px) {
    h1 {
      font-size: 40px !important;
      padding: 0px !important;
    }
    h2 {
      margin-bottom: 10px;
      font-size: 20px;
    }
  }
}

.content-32-about{
  @extend .content-32;
  background: #ffffff;
  padding-bottom: 0 !important;
  h1 {
    font-weight: 700;
    font-size: 50px;
    color: #000000;
    padding-bottom:20px;
  }
  .top{
    padding-bottom: 50px;
  }
  .bottom {
    padding-top: 140px;
  }
  p {
    color: #838383;
    font-family: 'Lato', sans-serif;
    font-weight:300;
    text-align: left !important;
  }
  @media (min-width: 768px) and (max-width: 991px) {
    h1 {
      font-size: 40px;
    }
  }
  @media (max-width: 767px) {
    h1 {
      font-size: 40px;
    }
  }
}

// Service Page

.header-16-sub-services {
  @extend .header-16-sub-about;
  .background {
    background-image:url(image-path("services-main.jpg"));
    opacity: 1;
    background-attachment: fixed;
  }
  h2 {
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    margin-bottom: 30px;
    letter-spacing: 3px;
    font-size: 25px;
    border: none;
  }
  h1 {
    border: none !important;
    font-size: 90px !important;
  }
  @media (min-width: 768px) and (max-width: 991px) {
    h1 {
      font-size: 40px !important;
      padding: 0px !important;
    }
    h2 {
      margin-bottom: 10px;
      font-size: 20px;
    }
  }
  @media (max-width: 767px) {
    h1 {
      font-size: 40px !important;
      padding: 0px !important;
    }
    h2 {
      margin-bottom: 10px;
      font-size: 20px;
    }
  }
}

.projects-2-services {
  @extend .projects-2;
  h1 {
    font-weight: 700;
    font-size: 50px;
    color: #ffffff;
    padding-bottom:20px;
  }
  .project-1 {
    background-image:url(image-path("soccer.jpg")) !important;
  }
  .project-2 {
    background-image:url(image-path("basketball.jpg")) !important;
  }
  .project-3 {
    background-image:url(image-path("mma.jpg")) !important;
  }
  .project-4 {
    background-image:url(image-path("football.jpg")) !important;
  }
  .project-5 {
    background-image:url(image-path("marketing.jpg")) !important;
  }
  @media (min-width: 768px) and (max-width: 991px) {
    h1 {
      font-size: 35px !important;
    }
  }
  @media (max-width: 767px) {
    h1 {
      font-size: 35px !important;
    }
  }
}

// Soccer Page

.header-16-sub-soccer{
  @extend .header-16-sub-about;
  .background {
    background-image:url(image-path("soccer-main.jpg")) !important;
    opacity: .9;
    background-color: #000000;
    background-attachment: fixed;
  }
  h1 {
    border: none;
    font-size: 100px;
    font-weight: 500;
  }
  h3 {
    color: #ffffff;
    font-weight: 200;
    font-size: 30px;
    letter-spacing: 3px;
  }

}

.content-32-soccer {
  @extend .content-32;
  background: #fafafa;
  padding-top: 160px;
  padding-bottom: 175px;
  h1{
    font-weight: 700;
    text-align: left;
    font-size: 30px;
    color: #000000;
  }
  p {
    color: #838383;
    font-family: 'Lato', sans-serif;
    font-weight:300;
    text-align: left;
  }
  h3 {
    color:#000000;font-size:40px;font-weight:700;
  }
}

.projects-2-soccer {
  @extend .projects-2;
  padding-top:0px!important;
  .project-1.v-center-soccer{
    @extend .project-1, .v-center;
    opacity:1!important;
    background-image:url(image-path("soccer1.jpg"));
    background-attachment: fixed;
  }
}

// Basketball Page

.header-16-sub-basketball{
  @extend .header-16-sub-about;
  .background {
    background-image:url(image-path("basketball-main.jpg")) !important;
    opacity: .9;
    background-color: #000000;
    background-attachment: fixed;
  }
  h1 {
    border: none;
    font-size: 100px;
    font-weight: 500;
  }
  h3 {
    color: #ffffff;
    font-weight: 200;
    font-size: 30px;
    letter-spacing: 3px;
  }

}

.content-32-basketball {
  @extend .content-32;
  background: #fafafa;
  padding-top: 160px;
  padding-bottom: 175px;
  h1{
    font-weight: 700;
    text-align: left;
    font-size: 30px;
    color: #000000;
  }
  p {
    color: #838383;
    font-family: 'Lato', sans-serif;
    font-weight:300;
    text-align: left;
  }
  h3 {
    color:#000000;font-size:40px;font-weight:700;
  }
}

.projects-2-basketball {
  @extend .projects-2;
  padding-top:0px!important;
  .project-1.v-center-basketball{
    @extend .project-1, .v-center;
    opacity:1!important;
    background-image:url(image-path("basketball1.jpg"));
    background-attachment: fixed;
  }
}

// MMA Page

.header-16-sub-mma {
  @extend .header-16-sub-about;
  .background {
    background-image:url(image-path("mma-main.jpg")) !important;
    opacity: .9;
    background-color: #000000;
    background-attachment: fixed;
  }
  h1 {
    border: none;
    font-size: 100px;
    font-weight: 500;
  }
  h3 {
    color: #ffffff;
    font-weight: 200;
    font-size: 30px;
    letter-spacing: 3px;
  }

}

.content-32-mma {
  @extend .content-32;
  background: #fafafa;
  padding-top: 160px;
  padding-bottom: 175px;
  h1{
    font-weight: 700;
    text-align: left;
    font-size: 30px;
    color: #000000;
  }
  p {
    color: #838383;
    font-family: 'Lato', sans-serif;
    font-weight:300;
    text-align: left;
  }
  h3 {
    color:#000000;font-size:40px;font-weight:700;
  }
}

.projects-2-mma {
  @extend .projects-2;
  padding-top:0px!important;
  .project-1.v-center-mma{
    @extend .project-1, .v-center;
    opacity:1!important;
    background-image:url(image-path("mma1.jpg"));
    background-attachment: fixed;
  }
}

// Football Page

.header-16-sub-football {
  @extend .header-16-sub-about;
  .background {
    background-image:url(image-path("football-main.jpg")) !important;
    opacity: .9;
    background-color: #000000;
    background-attachment: fixed;
  }
  h1 {
    border: none;
    font-size: 100px;
    font-weight: 500;
  }
  h3 {
    color: #ffffff;
    font-weight: 200;
    font-size: 30px;
    letter-spacing: 3px;
  }

}

.content-32-football {
  @extend .content-32;
  background: #fafafa;
  padding-top: 160px;
  padding-bottom: 175px;
  h1{
    font-weight: 700;
    text-align: left;
    font-size: 30px;
    color: #000000;
  }
  p {
    color: #838383;
    font-family: 'Lato', sans-serif;
    font-weight:300;
    text-align: left;
  }
  h3 {
    color:#000000;font-size:40px;font-weight:700;
  }
}

.projects-2-football {
  @extend .projects-2;
  padding-top:0px!important;
  .project-1.v-center-football{
    @extend .project-1, .v-center;
    opacity:1!important;
    background-image:url(image-path("football1.jpg"));
    background-attachment: fixed;
  }
}

// Sports-marketing Page

.header-16-sub-sports {
  @extend .header-16-sub-about;
  .background {
    background-image:url(image-path("marketing-main.jpg")) !important;
    opacity: .9;
    background-color: #000000;
    background-attachment: fixed;
  }
  h1 {
    border: none;
    font-size: 100px;
    font-weight: 500;
  }
  h3 {
    color: #ffffff;
    font-weight: 200;
    font-size: 30px;
    letter-spacing: 3px;
  }

}

.content-32-sports {
  @extend .content-32;
  background: #fafafa;
  padding-top: 160px;
  padding-bottom: 175px;
  h1{
    font-weight: 700;
    text-align: left;
    font-size: 30px;
    color: #000000;
  }
  p {
    color: #838383;
    font-family: 'Lato', sans-serif;
    font-weight:300;
    text-align: left;
  }
  h3 {
    color:#000000;font-size:40px;font-weight:700;
  }
}


// Client

.header-16-sub-client {
  @extend .header-16-sub-about;
  .background {
    background-image:url(image-path("clients-main.jpg")) !important;
    opacity: .9;
    background-color: #000000;
    background-attachment: fixed;
  }
}

// Client Show Page

.clientshow {
  a {
    color: #000000;
  }
}


// Footer
.footer-2{
  p, a {
    color: white;
  }
  @media (min-width: 768px) and (max-width: 991px) {
    p, a {
      text-align: center;
    }
    .pull-right {
      float: none !important;
    }
    .pull-left {
      float: none !important;
    }
  }
  @media (max-width: 767px) {
    p, a {
      text-align: center;
    }
    .pull-right {
      float: none !important;
    }
    .pull-left {
      float: none !important;
    }
  }
}
.footer-13 {
  padding: 0;
  .col-md-2 {
    .overlay-facebook {
      padding-top: 40px;
      padding-bottom: 40px;
      &:hover {
        background: #2a6496;
        a {
          color: #ffffff;
          &:hover {
            color: #ffffff;
          }
        }
      }
    }
    .overlay-twitter {
      padding-top: 40px;
      padding-bottom: 40px;
      &:hover {
        background: #428bca;
        a {
          color: #ffffff;
          &:hover {
            color: #ffffff;
          }
        }
      }
    }
    .overlay-youtube {
      padding-top: 40px;
      padding-bottom: 40px;
      &:hover {
        background: #AF1300;
        a {
          color: #ffffff;
          &:hover {
            color: #ffffff;
          }
        }
      }
    }
    .overlay-linkedin {
      padding-top: 40px;
      padding-bottom: 40px;
      &:hover {
        background: #007BB6;
        a {
          color: #ffffff;
          &:hover {
            color: #ffffff;
          }
        }
      }
    }
  }
}
